[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
async-timeout= "*"
black="*"
cachelib="*"
cffi="*"
click="*"
colorama="*"
Deprecated="*"
Flask="*"
Flask-Login="*"
Flask-Session="*"
Flask-SQLAlchemy="*"
greenlet="*"
itsdangerous="*"
Jinja2="*"
MarkupSafe="*"
mypy-extensions="*"
packaging="*"
pathspec="*"
platformdirs="*"
pycparser="*"
pyparsing="*"
python-dotenv="*"
six="*"
SQLAlchemy="*"
tomli="*"
Werkzeug="*"
wrapt="*"
gunicorn="*"
[dev-packages]

[requires]
python_version = "3.10"
